option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.small
    RootVolumeSize: 20
  aws:elasticbeanstalk:command:
    Timeout: 3600

packages:
  yum:
    gcc: []
    gcc-c++: []
    python3-devel: []

commands:
  01_pip_upgrade:
    command: /var/app/venv/*/bin/pip install --upgrade pip

container_commands:
  01_install_requirements:
    command: /var/app/venv/*/bin/pip install -r requirements.txt